body {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100vh;
    background-color: cadetblue;
}
div#calculator {
    
    background-color: grey;
    width: 300px;
    height: 500px;
    align-content: center;
    justify-content: center;
}

div#input {
    height: 50px;
    border-color: rgb(0, 0, 0);
    background-color: white;
}