body {
    display: flex;
    background-color: #1f2937;;
    height: 100vh;
    flex-direction: column;
    margin: 0;
    
}

div.header {
    display: flex;
    background-color: #f59e0b;
    color: rgb(98, 92, 84);
    height: 50px;
    align-items: center;
}

div#header-text {
    margin-left: 10px;
    margin-right: 5px;
}

div.content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
div#calculator {
    display: flex;
    background-color: grey;
    width: 272px;
    height: 300px;
    border: 10px solid black;
    flex-flow: column;

}

div#input {
    background-color: white;
    height: 100px;
    margin: 12px;
    margin-bottom: 8px;
}

div#buttons {
    display: flex;
    justify-content: center;
    width: 250px;
    margin: 12px;
}

button {
    height: 45px;
    width: 45px;
    font-size: x-large;
    margin: 0.5px;
}

div#numbers {
    width: 550px;
}

button#number0 {
    width: 95px;
}

button#calculate {
    height: 95px;
}
div.footer {
    display: flex;
    background-color: #f59e0b;
    padding: 0;
    color: rgb(98, 92, 84);
    height: 25px;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: rgb(61, 40, 0);
}